{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">

    <link rel="stylesheet" href="{% static "portfolio/custom.css" %}">

    {#    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">#}

    {#    <link rel="icon" type="image/png" href="{% static "portfolio/Logo.png" %}">#}

    <title>John's Blog</title>
    <style>
        body {
            font-family: 'Source Sans Pro', sans-serif;
        }
    </style>
</head>
<body>
<header>
    <nav id="topNav" class="navbar navbar-expand-md navbar-light">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}">
                {#        <img src="{% static "portfolio/Logo.png" %}" width="30" height="30" class="d-inline-block align-top" alt="">#}
                <b style="font-size: 25px;">Olimjon's Blog</b>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-center" id="navbarNav">
                <ul class="navbar-nav ml-auto" style="font-size: 18px;">
                    <li class="nav-item">
                        <a class="nav-link" href="{% static "p  ortfolio/Profile.pdf" %}">Resume</a>
                    </li>
                    {#          <li class="nav-item">#}
                    {#            <a class="nav-link" href="https://www.linkedin.com/in/olimjon-akhmadjonov-538b25201/" target="_blank">LinkedIn</a>#}
                    {#          </li>#}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'blog:all_blogs' %}">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="" target="_blank">Channel</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

{% block content %}

{% endblock %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous">
</script>
</body>
</html>