{% extends "portfolio/base.html" %}

{% load static %}

{% block content %}

    {#    <div class="row justify-content-center my-3">#}
    {#        <div class="col-5">#}
    {#            <img src="{% static 'portfolio/one-piece-luffy-black-v14jnvwdevyfagj5.jpg' %}" class="img-fluid">#}
    {#        </div>#}
    {#    </div>#}

{#    <div class="row justify-content-center mb-3">#}
{#        <div class="col-md-9 text-center">#}
{#            <h1 id="hometext" class="font-weight-bold">Student at INHA university in Tashkent</h1>#}
{#        </div>#}
{#    </div>#}

    <section id="home" class="flex align-items-center">
        <div class="container">
            <div class="row justify-between">
                <div class="col-xl-8 col-lg-10 col-12 stagger-animation">
                    <div class="about flex align-items-center">
                        <img class="anim-item profile-picture
                                align-self-start" src="/static/assets/images/olimjon.jpg" alt="Olimjon"
                             style="transform: matrix(1, 0, 0, 1, 0, 0); opacity: 1;">
                        <div class="about-detail anim-item" style="transform: matrix(1, 0, 0, 1, 0, 0); opacity: 1;">
                            <h1 class="title">Olimjon Akhmadjonov</h1>
                            <h3 class="desc">Software Engineer</h3>
                            <div class="social-links flex
                                    align-items-center">
                                {#                                <a class="icon-youtube" target="_blank" href="https://www.youtube.com/azimjonpulatov">#}
                                {#                                    <img src="/static/assets/images/icons/youtube.svg" width="26">#}
                                {#                                </a>#}
                                {#                                <a class="icon-github" target="_blank" href="https://github.com/azimjohn"></a>#}
                                {#                                <a class="icon-linkedin" target="_blank" href="https://www.linkedin.com/in/azimjon-pulatov/">#}
                                {#                                    <img src="/static/assets/images/icons/linkedin.svg" width="22">#}
                                {#                                </a>#}
                                {#                                <a class="icon-telegram" target="_blank" href="https://t.me/lazyprogrammer">#}
                                {#                                    <img src="/static/assets/images/icons/telegram.svg" width="22">#}
                                {#                                </a>#}
                            </div>
                        </div>
                    </div>

                    <div class="detail">
                        <p class="size-big anim-item" style="transform: matrix(1, 0, 0, 1, 0, 0); opacity: 1;">I write
                            about non-technical stuff in the technical world.</p>
                        <div class="btns-wrapper anim-item" style="transform: matrix(1, 0, 0, 1, 0, 0); opacity: 1;">
                            <a href="/blog/" class="btn btn-primary">Read Blog</a>
                            <a href="/about/" class="btn btn-outline-primary">About Me</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="d-flex justify-content-space-between container">
        {% for project in projects %}
            <div class="mr-5">
                 <h2>{{ project.title }}</h2>
                <p>{{ project.description }}</p>
                <img src="{{ project.image.url }}" alt="" height="50" width="50">
                {% if project.url %}
                    <a href="{{ project.url }}">Link</a>
                {% endif %}
            </div>
         {% endfor %}
    </div>


    <footer style="margin-top: 200px; text-align: center">
        <div class="container">
            <div class="row">
                <p>
                    © 2022 olimjohn.com
                </p>
            </div>
        </div>
    </footer>

    {#    <div class="" style="margin-right: 120px; margin-left: 120px;">#}
    {#        <hr>#}
    {#    </div>#}


{% endblock %}